.portfolio-card a {
  color: inherit;
}

.portfolio-card img {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
  transition-delay: 0s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.portfolio-info {
  padding: 20px;
}

.portfolio-card:hover .plink {
  color: #0b5ed7;
}

.portfolio-card:hover img {
  box-shadow: 0 20px 25px -12px rgba(0, 0, 0, 0.15);
}

.portfolio-lang {
  margin: 0;
  padding: 0;
  list-style: none;
}
.portfolio-lang li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 50px;
  color: #191919;
  display: inline-block;
  padding: 8px 0px;
  font-size: 12px;
  font-weight: 600;
  margin: 0 15px 0px 0;
  text-transform: capitalize;
}

.lang-dot {
  width: 10px;
  height: 9px;
  display: inherit;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #ccc;
}

.lang-dot.html {
  background-color: #e34c26 !important;
}
.lang-dot.css {
  background-color: #563d7c !important;
}
.lang-dot.sass {
  background-color: #a53b70 !important;
}
.lang-dot.js {
  background-color: #f1e05a !important;
}
.lang-dot.php {
  background-color: #4f5d95 !important;
}
.lang-dot.ts {
  background-color: #2b7489 !important;
}
.lang-dot.wp {
  background-color: #207196 !important;
}
.lang-dot.react {
  background-color: #61dafb !important;
}
